@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.skills-background-section {
    background-image: url('../../images/skills.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 40px 10px;
    width: 100vw;
}

.skills-title {
    color: cyan;
    font-family: 'sans-serif';
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.skills-subset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% auto;
    max-width: 1200px;
    padding: 10px;
}

.skill-heading {
    color: #13a0b3;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    padding: 2px;
}

.skill-set {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.skill-icon {
    font-size: 2.5rem;
    color: cyan;
    margin-right: 5px;
    flex-shrink: 0;
    margin-bottom: 15px;
}

.percentage {
    color: white;
    font-size: 1.5rem;
    width: 150px;
}

.progress {
    width: 65%;
    height: 30px;
    margin-left: 5px;
    background-color: #444;
    border-radius: 5px;
}

.custom-label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

/* Horizontal Rule Styling */
.rule {
    width: 100%;
    border: 1px solid cyan;
    margin: 30px 0;
}

/* Responsive Adjustments */
@media (min-width: 992px) {
    .skills-subset {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .skill-set {
        width: calc(50% - 20px);
    }

    .skill-heading {
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .skill-set {
        width: calc(33.33% - 20px);
    }
}

/* For Smaller Devices (Mobile) */
@media (max-width: 991px) {
    .skills-subset {
        flex-direction: column;
    }

    .skills-title {
        font-size: 3rem;
    }

    .skill-set {
        width: 100%;
        justify-content: flex-start;
    }

    .skill-heading {
        font-size: 1.8rem;
    }

    .percentage {
        font-size: 1.3rem;
    }

    .progress {
        height: 25px;
    }

    .custom-label {
        font-size: 0.9rem;
    }
}
