@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.education-section-background{
    background-image: url('../../images/bright-light-black-background.jpg');
    background-size: cover;
    min-height: 100vh;
    padding-top:1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 7%;
    width: 100vw;
}

.education-main-title{
  color: cyan;
  font-family: 'sans-serif';
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 80px;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ToolbarWrapper-sc-cif21b-6 {
  display: none !important;
}


.education_card{
  background-color: #99ffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow: auto;
  cursor: pointer;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
}

.education_card:hover {
  transform: scale(1.03); 
}

.education_sub_card{
  display: flex;
  align-items: center;
}

.education-icon{
  max-height: 80px;
  max-width: 80px;
  height: 10vw;
  width: 10vw;
  border-radius: 40px;
  padding: 10px; 
  box-shadow: 0px 0px 14px 0px #00e5e5;
}

@media screen and (max-width:567px){
  .education-icon{
    height: 150px;
    width: 225px;
  }
}

.education-title{
  font-size: 17px;
  color:#001919;
  /* color: #092e33; */
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: 10px;
}

.education-mini-container{
  border-left: 5px #007f7f solid;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 20px;
  background-color: #e5ffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10px;
}

.main-items-container{
  list-style: none;
  color: black;
  font-size: 15px;
  font-family: 'Bree Serif';
  font-weight: normal;
}